<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>JWT Session example</title>
    <script src="Scripts/angular.js"></script>
    <script src="myJS/indexApp.js"></script>
    <script src="myJS/jwtFunctions.js"></script>
    <style>
        body {
            font-family: Verdana;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th {
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl" ng-mousemove="resetCount()" ng-keydown="resetCount()">
        <!-- LOGIN -->
        <div ng-show="!isAuthenticated">
            <form ng-submit="login()">
                Username:
                <input type="text" ng-model="user.username" />
                <br />
                Password:
                <input type="password" ng-model="user.password" />
                <br />
                <input type="submit" value="Submit" />
            </form>
        </div>

        <div ng-show="isAuthenticated">
            <h1>Welcome!</h1>
            <p>El token caducará a las: {{ expirationTime }}</p>
            <p>Le quedan {{ remainingSeconds }} segundos</p>
            <button type="button" ng-click="logout()">Logout</button>

            <!-- GET -->
            <div>
                <h2>Get all users</h2>
                <table>
                    <thead>
                        <tr>
                            <th>IDUser</th>
                            <th>Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>Password</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="record in records">
                            <td>{{ record.Id }}</td>
                            <td>{{ record.Name }}</td>
                            <td>{{ record.LastName }}</td>
                            <td>{{ record.Nick }}</td>
                            <td>{{ record.Password }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" ng-click="getUsers()">Show all users</button>
            </div>

            <hr />

            <!-- POST, PUT, DELETE -->
            <div>
                <h2>User Panel</h2>
                <form>
                    Id: <br />
                    <input type="number" ng-model="usr.Id" />
                    <br />
                    Name:<br />
                    <input type="text" ng-model="usr.name" />
                    <br />
                    Last name:<br />
                    <input type="text" ng-model="usr.lastName" />
                    <br />
                    Nickname:<br />
                    <input type="text" ng-model="usr.nick" />
                    <br />
                    Password:<br />
                    <input type="password" ng-model="usr.password" />
                    <br /><br />
                </form>
                <button type="button" ng-click="addUser()">Add a new user</button>
                <button type="button" ng-click="updateUserPass()">Change a user's password</button>
                <button type="button" ng-click="deleteUser()">Remove a user</button>
            </div>
        </div>
    </div>
</body>
</html>